:root {
    --pink: rgb(215, 121, 178);
    --grey: rgba(111, 111, 111, 0.757);
    --grey-bl: rgba(221, 224, 227, 0.216);
}
body{
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Advent Pro', sans-serif;
}

.container{
    margin-top: 25vh;
    margin: 13px auto;
    width:500px;
    color: rgb(42, 42, 42) !important;
    font-size: 21px !important;
    font-family: 'Yusei Magic', sans-serif;
    padding: 30px;
}

.hide {
    visibility: hidden;
    height: 0px;
    padding: 0px !important;
}

.tarjeta-mensaje{
    width:460px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

label{
    width:640px;
}

input {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--pink);
    margin-top: 40px;
    font-family: 'Advent Pro', sans-serif !important;
    font-size: 17px;
}

.btn {
    margin-top: 20px;
    background-color: var(--pink);
    border: none;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 30px;
    width: 100px;
    font-family: 'Advent Pro', sans-serif !important;
    font-size: 14px;
    color: rgb(255, 255, 255);
}


.btn:hover {
    background-color: #d08bb5dd;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.tarjeta-link{
    height: 100px;
    padding: 10px 20px 0px 20px;
    background-color: rgba(147, 124, 188, 0.240);
    border-radius: 10px;
}

.tarjeta-link input{
    background-color: rgba(252, 252, 252, 0.668);
    border-radius: 10px;
    width: 100%;
    border: none;
    color: rgb(92, 57, 229);
    border-bottom: 2px solid var(--pink);
}

h4{
      font-size: 15px;
      font-weight: 100;
      margin: 0;
      color:  rgba(252, 252, 252, 0.668);
}

h2{
    color: var(--pink);
    margin: 0px;
}

a{
    text-decoration: none;
    font-size: 11px;
    color: rgb(92, 57, 229);
}